.selects {
    display: flex;
    margin-bottom: 45px;
    gap: 20px;

> * {
    flex-grow: 1;
}

> *:last-child {
    margin-right: 0;
    position: relative;
}

.filter_year {
    position: absolute;
    z-index: 1;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 45px;
}
}
